In [8]:
# Question 1: Importing Pandas and Loading a CSV File
import pandas as pd
df = pd.read_csv('sample_data.csv')

# Question 2: Displaying the First Few Rows
df.head()

# Question 3: Basic Data Information
df.info()

# Question 4: Inspecting Column Data Types
df.dtypes

# Question 5: Selecting Columns
df['Department']

# Question 6: Slicing Rows
df[2:5]

# Question 7: Handling Missing Values
df.fillna(0, inplace=True)

# Question 8: Renaming Columns
df.rename(columns={'Salary': 'Annual_Salary'}, inplace=True)

# Question 9: Dropping Duplicates
df.drop_duplicates(inplace=True)

# Question 10: Grouping and Aggregating Data
df.groupby('Department')['Age'].mean()

# Question 11: Exporting Data to CSV
df.to_csv('cleaned_data.csv', index=False)

# Question 12: Aggregating with Multiple Functions
df.groupby('Department').agg({'Age': ['mean', 'max'], 'Annual_Salary': ['sum', 'mean']})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        7 non-null      object
 1   Age         7 non-null      int64
 2   Department  7 non-null      object
 3   Salary      7 non-null      int64
dtypes: int64(2), object(2)
memory usage: 352.0+ bytes

             Age     Annual_Salary
            mean max           sum     mean
Department
Finance     31.5  35        138000  69000.0
HR          23.5  25        102000  51000.0
IT          35.0  40        140000  70000.0